<div class="d-flex-inline justify-content-center col-sm-10 offset-sm-1 col-md-6 offset-md-3 col-lg-6 offset-lg-6 col-xl-6 offset-xl-3">
  <h2 class="text-center">Rails Admin Sign up</h2>
  
  <div class="form-group">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
    
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "email-field" %>
      </div>
    
      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", id: "password-field" %>
      </div>
    
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", id: "password_confirmation_field" %>
      </div>
    
      <div class="actions text-center">
        <%= f.submit "Sign up", class: "btn btn-primary btn-lg", id: "sign-up-to-rails-admin-btn" %>
      </div>
    <% end %>
  </div>
  
  <p><em>Already have a rails admin account?</em></p>
  <%= render "devise/shared/links" %>
</div>
